
         #logo{
             height : 140px;
             width: 140px;
             margin-top: 20px;
         }
         .blue{
             color: rgb(0,127,219);
         }
         #title{
             margin-bottom: 50px;
         }
         .title{
             margin-bottom: 30px;
         }
         .newln{
             margin-bottom: 15px;
         }
         #body{
             margin-top: 20px;
             margin-bottom: 100px;
         }
